# teleram
TELEGRAM_BOT_TOKEN=

# server
CLIENT_URL=
PORT=

# sessions
COOKIE_AGE=
SESSION_SECRET= # some letters
RESAVE=false|true
SAVE_UNINITIALISED=false|true

# errors
IGNORE_TELEGRAM_DEPLOY_COMMANDS_ERRORS=false|true